.layout {
  & > .header {
    height 80px;
    background #d4d4d4;
    margin-bottom 20px;

    & > .header-content {
      container(850px);

      .home-link {
        font-size: 22px;
        font-weight: 600;
        line-height: 66px;
        color: rgba(0,0,0,0.55);
      }
    }

  }
  & > .content {

  }
}