.author-panel {
  position relative;
  padding-left 73px;
  min-height 70px;
  font-size 13px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width 60px;
    height 60px;

    border-radius 50%;
  }

  .sub-content {
    color rgba(black, .54);
  }
}